@import 'utils';

.page {
    header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
    }

    .content {
        &.responsive {
            padding-left: 1rem;
            padding-right: 1rem;
            @include responsive();
        }
    }
}