@import 'utils';

.poly-background {
    background: linear-gradient(to right bottom,#276caf,#30a1c1,#9dd5ba);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 128px), 0 100%);
    .image {
      transition: all 1s ease-in;
      background: url('../../../static/images/background.png');
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
      pacity: 1;
      &.blur {
        opacity: 0;
      }
    }
  }