@import 'utils';

.input-error {
    background: material-color('red', '100');
    border: 1px solid material-color('red', '300');
    color: material-color('red', '800');
    padding-top: 0.5rem;
    padding: 0.5rem;
    font-size: 0.85rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}