@import 'utils';

.wrapper {
    
}

.screen-mask {
    z-index: z-index-for('screen-mask');
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(150,150,150,0.75);
}